@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

/* Add some styles for body*/
body {
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  background-color: #f2f5f9;
  background-position: 0 0, 25px 25px;
  background-attachment: fixed;
  background-size: 50px 50px;
  overflow-x: hidden;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.5rem;
  column-gap: 1.5rem;
}

.blog-card {
  width: 418px;
  height: 530px;
  background-color: white;
  border-radius: 15px;
}

.hero-img-container {
  width: 418px;
  position: relative;
}
.hero-img {
  width: 418px;
  border-radius: 15px;
}
.hero-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
}

.text-container {
  margin: 0 34px;
}

.title {
  color: #111729;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  /* margin-bottom: 24px; */
}
.text {
  color: #677489;
  font-size: 16px;
}

.author-container {
  display: flex;
  flex-direction: row;
  padding: 28px 34px;
  border-top: #f2f5f9 solid 1px;
  margin-top: 28px;
}
.avatar {
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  border-radius: 100%;
}
.author {
  margin-left: 16px;
}
.name {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}
.about {
  font-size: 12px;
  color: #677489;
}
@media screen and (min-width: 720px) {
  main {
    flex-direction: row;
  }
}
